# Imports

In [21]:
import os

import requests

import pandas as pd

import gzip
import json
from datetime import datetime

from dotenv import load_dotenv

# .gz

In [9]:
url = 'https://files.tmdb.org/p/exports/movie_ids_10_17_2024.json.gz'

json_file = []

response = requests.get(url)
nom_fichier_gz = 'movie_ids_10_17_2024.json.gz'

with open(nom_fichier_gz, 'wb') as f:
    f.write(response.content)

with gzip.open(nom_fichier_gz, 'rt', encoding='utf-8') as f:
    for i, line in enumerate(f):
        try:
            json_file.append(json.loads(line))
        except:
            print("error")
        
        if i >= 999:  
            break

df = pd.DataFrame(json_file)

df

     adult     id                      original_title  popularity  video
0    False   3924                             Blondie       4.057  False
1    False   6124                 Der Mann ohne Namen       4.434  False
2    False   8773                 L'Amour à vingt ans      10.072  False
3    False  25449  New World Disorder 9: Never Enough       7.384  False
4    False  31975      Sesame Street: Elmo Loves You!       0.006   True
..     ...    ...                                 ...         ...    ...
995  False   1535                            Spy Game      15.727  False
996  False   1537                      Changing Lanes      15.851  False
997  False   1538                          Collateral      27.997  False
998  False   1539             Keine Lieder über Liebe       2.089  False
999  False   1540                         Vers le sud       2.883  False

[1000 rows x 5 columns]

In [19]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine(os.getenv('SQLUrl'))